*{
    margin: 0px;
    margin-left: opx;
}
ul{
    background-color: crimson;
    color: wheat;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0px;
}
ul li{
   height: 30px;
   text-align: center;
   font-weight: bold;
   font-style: inherit;
}
p{
    margin-left: 30px;
    padding: 20px;
    text-align: right;
}